@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

header {
  max-height: 10vh;
  justify-content: space-between;
  box-shadow: 0 -15px 30px -5px #c986d7;
  background: linear-gradient(90deg, rgba(70, 68, 68, 0) 0%, rgba(255, 255, 255, 0.048) 25%, rgba(255, 255, 255, 0.068) 75%, rgba(255, 255, 255, 0) 100%);
  animation: shine 20s infinite;
}

header h4 {
  background: linear-gradient(330deg, #2fe03eb9 20%, #52e0e0ab 50%, #9952e09f 75%, #304d145d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  max-width: 60%;
}

.navUl li {
  padding: 0 0.5rem;
}

.navUl li:hover {
  filter: brightness(150%);
  text-shadow: 2px 2px 4px #000;
}

@keyframes shine {
  0% {
    box-shadow: 0 -15px 30px -5px #c986d7;
  }

  40% {
    box-shadow: 0 -5px 55px -1px #c986d7;
  }

  75% {
    box-shadow: 0 5px 55px -1px #c986d7;
  }

  100% {
    box-shadow: 0 -15px 30px -5px #c986d7;
  }
}

@media(min-width: 768px) {
  header h4 {
    font-size: 1.5rem;
  }
}